---
import Logo from '@/components/Base/Logo.astro';
import Navigation from '@/components/Base/Navigation.astro';
---

<div
  id='mobile-menu'
  class='fixed inset-0 z-40 hidden h-full w-full bg-slate-950/95 backdrop-blur-lg'
>
  <div class='container flex h-full flex-col items-center justify-center'>
    <button
      type='button'
      id='close-mobile-menu-button'
      class='absolute right-8 top-8 z-50'
      aria-label='Close mobile menu'
    >
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        stroke='currentColor'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
        class='h-8 w-8 text-white'
      >
        <line x1='18' y1='6' x2='6' y2='18'></line>
        <line x1='6' y1='6' x2='18' y2='18'></line>
      </svg>
    </button>
    <div class='flex flex-col items-center gap-12'>
      <Logo class='w-60' />
      <Navigation />
    </div>
  </div>
</div>
